<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spa</title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <header>
    <div class="header">
      <div class="left-header">CÔNG TY TNHH XUẤT NHẬP KHẨU STAR GROUP</div>
      <div class="right-header">
        <a href="#">xxx Đường 3/2 , P6, Q10, Tp.Hồ Chí Minh</a>
        <a href="#">webdemo@gamil.com</a>
        <a href="#">0914.456.xxx</a>
      </div>
    </div>
    <div class="align-header1">
      <div class="header1">
        <img src="./assets/logo-star-group.png" alt="" />
        <nav>
          <a href="#">Trang chủ</a>
          <a href="#">Giới thiệu</a>
          <a href="#">Bảng giá</a>
          <a href="#">Đặt hàng</a>
          <a href="#">Ưu đãi</a>
          <a href="#">Tin tức</a>
          <a href="#">Liên hệ</a>
        </nav>
      </div>
    </div>
  </header>
  <main>
    <section class="chao_mung">
      <div class="chao_mung-head">Chào mừng bạn đến với Spa Star Group</div>
      <div class="intro">
        <figure>
          <img src="./assets/ico-pic1.jpg" alt="" />
          <figcaption>Chăm sóc da toàn thân</figcaption>
        </figure>
        <figure>
          <img src="./assets/timthumb-2.jpg" alt="" />
          <figcaption>Chăm sóc tóc</figcaption>
        </figure>
        <figure>
          <img src="./assets/timthumb-3.jpg" alt="" />
          <figcaption>Trị nám thâm</figcaption>
        </figure>
        <figure>
          <img src="./assets/DON-CAM-300x300-1.jpg" alt="" />
          <figcaption>Dưỡng da chuyên xâu</figcaption>
        </figure>
      </div>
    </section>
    <div class="align_gift">
      <section class="gift">
        <div class="gift_head">Món quà đặc biệt cho khách hàng</div>
        <div class="gift_price">
          <figure>
            <div class="price">
              <div class="price">
                <span class="pc">175.000đ</span>150.000đ
              </div>
            </div>
            <img src="./assets/gift1.jpg" alt="" />
            <figcaption>
              Linving Dale Natural Gift <br /><button>Lựa chọn</button>
            </figcaption>
          </figure>
          <figure>
            <div class="price">
              <div class="price">
                <span class="pc">175.000đ</span>150.000đ
              </div>
            </div>
            <img src="./assets/gift2.jpg" alt="" />
            <figcaption>
              Linving Dale Natural Gift <br /><button>Lựa chọn</button>
            </figcaption>
          </figure>
          <figure>
            <div class="price">
              <div class="price">
                <span class="pc">175.000đ</span>150.000đ
              </div>
            </div>
            <img src="./assets/gift3.jpg" alt="" />
            <figcaption>
              Cardinal Tender Shore<br /><button>Lựa chọn</button>
            </figcaption>
          </figure>
          <figure>
            <div class="price">
              <div class="price">
                <span class="pc">175.000đ</span>150.000đ
              </div>
            </div>
            <img src="./assets/gift4.jpg" alt="" />
            <figcaption>
              Bella Gift Spa Line<br /><button>Lựa chọn</button>
            </figcaption>
          </figure>
        </div>
      </section>
    </div>
    <div class="align_bang-gia">
      <section class="bang-gia">
        <div class="line1">Bảng giá dịch vụ</div>
        <div class="line2">Chọn dịch vụ mà bạn quan tâm</div>
        <div class="bang">
          <figure>
            <div class="gia">135.000đ/tháng</div>
            <img src="./assets/pricing3.jpg" alt="" />
            <figcaption>
              <span>Family Pack</span>
              <br />Nail Cutting and styling <br />Hair Coloring
              <br />Manicure <br /><button>Mua gói này</button>
            </figcaption>
          </figure>
          <figure>
            <div class="gia">165.000đ/tháng</div>
            <img src="./assets/pricing2.jpg" alt="" />
            <figcaption>
              <span>Family Pack</span>
              <br />Body Hand and Foot massaga <br />Spa Therapy <br />Body
              massaga <br /><button>Mua gói này</button>
            </figcaption>
          </figure>
          <figure>
            <div class="gia">185.000đ/tháng</div>
            <img src="./assets/pricing4.jpg" alt="" />
            <figcaption>
              <span>Family Pack</span>
              <br />Nail Cutting and styling <br />Hair Coloring
              <br />Manicure <br /><button>Mua gói này</button>
            </figcaption>
          </figure>
          <figure>
            <div class="gia">235.000đ/tháng</div>
            <img src="./assets/pricing1.jpg" alt="" />
            <figcaption>
              <span>Family Pack</span>
              <br />Body Hand and Foot massaga <br />Spa Therapy <br />Body
              massaga <br /><button>Mua gói này</button>
            </figcaption>
          </figure>
        </div>
      </section>
    </div>
  </main>

  <footer>
    <div class="align_footer">
      <div class="footer">
        <section class="sec1">
          <img src="./assets/logo-star-group-01-300x132.png" alt="" />
          <div class="head">Spa Star Group</div>
          <p>
            Tự hào là một trong những đơn vị thẩm mỹ viện cao cấp và và uy tín
            tại Tp. HCM.Spa Star Group xứng đáng là điểm đến quen thuộc cuả
            những ai thích làm đẹp và mong muốn giữ gìn sắc đẹp tự nhiên
          </p>
        </section>
        <section>
          <div class="head">Thông tin liên hệ</div>
          <ul>
            <li>xxx Đường 3/2,P6,Q10,Tp.Hồ Chí Minh</li>
            <li>webdemo@gamil.com</li>
            <li>0914.456.xxx</li>
            <br /><button>Mua gói này</button>
          </ul>
        </section>
        <section>
          <div class="head">Kết nối với chúng tôi</div>
          <img src="./assets/social-icons.jpg" alt="" />
        </section>
      </div>
    </div>
    <div class="align_foot">
      <div class="foot_bottom">
        <div class="left">Copyright 2024 Web Demo</div>
        <div class="right">Hotline Kỹ thuật: 0972.939.xxx</div>
      </div>
      <a href="#">></a>
    </div>
  </footer>
</body>

</html>